.nav-link{
    margin-left: 10px;
    position: relative;
    .nav-link-button{
        
        opacity: 0.8;
        cursor: pointer;
        background-color: transparent;
        color: white;
        border:1px solid;
        border-radius: 2.5px; 
        transition: opacity 200ms ease 0s;
    }:hover{
        opacity: 1;
    }
}:hover {
    .nav-link-button{
        will-change: opacity, transform;
    }
}